@font-face {
    font-family: 'grimm';
    src:    url('fonts/grimm.eot?elxk4t');
    src:    url('fonts/grimm.eot?elxk4t#iefix') format('embedded-opentype'),
        url('fonts/grimm.ttf?elxk4t') format('truetype'),
        url('fonts/grimm.woff?elxk4t') format('woff'),
        url('fonts/grimm.svg?elxk4t#grimm') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'grimm' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-adb:before {
    content: "\e60e";
}
.icon-add:before {
    content: "\e145";
}
.icon-add_box:before {
    content: "\e146";
}
.icon-add_circle:before {
    content: "\e147";
}
.icon-location:before {
    content: "\e567";
}
.icon-shopping_cart:before {
    content: "\e854";
}
.icon-add_to_queue:before {
    content: "\e05c";
}
.icon-adjust:before {
    content: "\e39e";
}
.icon-all_inclusive:before {
    content: "\eb3d";
}
.icon-android:before {
    content: "\e859";
}
.icon-announcement:before {
    content: "\e85a";
}
.icon-apps:before {
    content: "\e5c3";
}
.icon-archive:before {
    content: "\e149";
}
.icon-arrow_back:before {
    content: "\e5c4";
}
.icon-arrow_down:before {
    content: "\e5db";
}
.icon-arrow_forward:before {
    content: "\e5c8";
}
.icon-arrow_up:before {
    content: "\e5d8";
}
.icon-aspect_ratio:before {
    content: "\e85b";
}
.icon-poll:before {
    content: "\e801";
}
.icon-assignment:before {
    content: "\e85d";
}
.icon-assignment_turned_in:before {
    content: "\e862";
}
.icon-flag:before {
    content: "\e153";
}
.icon-attach_file:before {
    content: "\e226";
}
.icon-autorenew:before {
    content: "\e863";
}
.icon-backspace:before {
    content: "\e14a";
}
.icon-cloud_upload:before {
    content: "\e2c3";
}
.icon-battery_alert:before {
    content: "\e19c";
}
.icon-battery_charging_full:before {
    content: "\e1a3";
}
.icon-battery_std:before {
    content: "\e1a5";
}
.icon-beach_access:before {
    content: "\eb3e";
}
.icon-bluetooth:before {
    content: "\e1a7";
}
.icon-bluetooth_disabled:before {
    content: "\e1a9";
}
.icon-bookmark_box:before {
    content: "\e8e6";
}
.icon-bookmark:before {
    content: "\e8e7";
}
.icon-border_color:before {
    content: "\e22b";
}
.icon-brush:before {
    content: "\e3ae";
}
.icon-bubble_chart:before {
    content: "\e6dd";
}
.icon-build:before {
    content: "\e869";
}
.icon-domain:before {
    content: "\e7ee";
}
.icon-business_center:before {
    content: "\eb3f";
}
.icon-cached:before {
    content: "\e86a";
}
.icon-cake:before {
    content: "\e7e9";
}
.icon-phone:before {
    content: "\e0cd";
}
.icon-call_end:before {
    content: "\e0b1";
}
.icon-call_made:before {
    content: "\e0b2";
}
.icon-call_received:before {
    content: "\e0b5";
}
.icon-camera:before {
    content: "\e3af";
}
.icon-photo_camera:before {
    content: "\e412";
}
.icon-cast:before {
    content: "\e307";
}
.icon-chat:before {
    content: "\e0b7";
}
.icon-chat_bubble:before {
    content: "\e0ca";
}
.icon-check:before {
    content: "\e5ca";
}
.icon-check_box:before {
    content: "\e834";
}
.icon-child_friendly:before {
    content: "\eb42";
}
.icon-close:before {
    content: "\e5cd";
}
.icon-clear_all:before {
    content: "\e0b8";
}
.icon-wb_cloudy:before {
    content: "\e42d";
}
.icon-cloud_done:before {
    content: "\e2bf";
}
.icon-cloud_download:before {
    content: "\e2c0";
}
.icon-code:before {
    content: "\e86f";
}
.icon-palette:before {
    content: "\e40a";
}
.icon-compare_arrows:before {
    content: "\e915";
}
.icon-contact_mail:before {
    content: "\e0d0";
}
.icon-contacts:before {
    content: "\e0ba";
}
.icon-content_cut:before {
    content: "\e14e";
}
.icon-content_paste:before {
    content: "\e14f";
}
.icon-mode_edit:before {
    content: "\e254";
}
.icon-data_usage:before {
    content: "\e1af";
}
.icon-dehaze:before {
    content: "\e3c7";
}
.icon-delete:before {
    content: "\e872";
}
.icon-delete_forever:before {
    content: "\e92b";
}
.icon-delete_sweep:before {
    content: "\e16c";
}
.icon-desktop_windows:before {
    content: "\e30c";
}
.icon-details:before {
    content: "\e3c8";
}
.icon-dialer_sip:before {
    content: "\e0bb";
}
.icon-dialpad:before {
    content: "\e0bc";
}
.icon-directions_run:before {
    content: "\e566";
}
.icon-do_not_disturb_alt:before {
    content: "\e611";
}
.icon-do_not_disturb_off:before {
    content: "\e643";
}
.icon-remove_circle:before {
    content: "\e15c";
}
.icon-done:before {
    content: "\e876";
}
.icon-done_all:before {
    content: "\e877";
}
.icon-donut_large:before {
    content: "\e917";
}
.icon-drafts:before {
    content: "\e151";
}
.icon-dvr:before {
    content: "\e1b2";
}
.icon-markunread:before {
    content: "\e159";
}
.icon-enhanced_encryption:before {
    content: "\e63f";
}
.icon-equalizer:before {
    content: "\e01d";
}
.icon-insert_invitation:before {
    content: "\e24f";
}
.icon-event_available:before {
    content: "\e614";
}
.icon-event_busy:before {
    content: "\e615";
}
.icon-event_note:before {
    content: "\e616";
}
.icon-face:before {
    content: "\e87c";
}
.icon-favorite:before {
    content: "\e87d";
}
.icon-favorite_border:before {
    content: "\e87e";
}
.icon-get_app:before {
    content: "\e884";
}
.icon-file_upload:before {
    content: "\e2c6";
}
.icon-filter:before {
    content: "\e3d3";
}
.icon-fingerprint:before {
    content: "\e90d";
}
.icon-flash_auto:before {
    content: "\e3e5";
}
.icon-flash_off:before {
    content: "\e3e6";
}
.icon-flash_on:before {
    content: "\e3e7";
}
.icon-folder:before {
    content: "\e2c7";
}
.icon-folder_open:before {
    content: "\e2c8";
}
.icon-folder_shared:before {
    content: "\e2c9";
}
.icon-font_download:before {
    content: "\e167";
}
.icon-format_align_justify:before {
    content: "\e235";
}
.icon-question_answer:before {
    content: "\e8af";
}
.icon-star:before {
    content: "\e838";
}
.icon-people:before {
    content: "\e7fb";
}
.icon-group_add:before {
    content: "\e7f0";
}
.icon-group_work:before {
    content: "\e886";
}
.icon-hdr_strong:before {
    content: "\e3f1";
}
.icon-home:before {
    content: "\e88a";
}
.icon-hourglass_empty:before {
    content: "\e88b";
}
.icon-lock:before {
    content: "\e897";
}
.icon-photo:before {
    content: "\e410";
}
.icon-inbox:before {
    content: "\e156";
}
.icon-info:before {
    content: "\e88e";
}
.icon-insert_comment:before {
    content: "\e24c";
}
.icon-insert_drive_file:before {
    content: "\e24d";
}
.icon-tag_faces:before {
    content: "\e420";
}
.icon-link:before {
    content: "\e157";
}
.icon-keyboard_arrow_down:before {
    content: "\e313";
}
.icon-keyboard_arrow_left:before {
    content: "\e314";
}
.icon-keyboard_arrow_right:before {
    content: "\e315";
}
.icon-keyboard_arrow_up:before {
    content: "\e316";
}
.icon-keyboard_backspace:before {
    content: "\e317";
}
.icon-keyboard_voice:before {
    content: "\e31d";
}
.icon-label:before {
    content: "\e892";
}
.icon-label_outline:before {
    content: "\e893";
}
.icon-laptop_chromebook:before {
    content: "\e31f";
}
.icon-print:before {
    content: "\e8ad";
}
.icon-location_off:before {
    content: "\e0c7";
}
.icon-room:before {
    content: "\e8b4";
}
.icon-mail_outline:before {
    content: "\e0e1";
}
.icon-mic_off:before {
    content: "\e02b";
}
.icon-mms:before {
    content: "\e618";
}
.icon-mood_bad:before {
    content: "\e7f3";
}
.icon-more:before {
    content: "\e619";
}
.icon-more_horiz:before {
    content: "\e5d3";
}
.icon-more_vert:before {
    content: "\e5d4";
}
.icon-mouse:before {
    content: "\e323";
}
.icon-movie_creation:before {
    content: "\e404";
}
.icon-navigation:before {
    content: "\e55d";
}
.icon-near_me:before {
    content: "\e569";
}
.icon-network_wifi:before {
    content: "\e1ba";
}
.icon-next_week:before {
    content: "\e16a";
}
.icon-no_encryption:before {
    content: "\e641";
}
.icon-notifications:before {
    content: "\e7f4";
}
.icon-notifications_off:before {
    content: "\e7f6";
}
.icon-person:before {
    content: "\e7fd";
}
.icon-person_add:before {
    content: "\e7fe";
}
.icon-photo_size_select_actual:before {
    content: "\e432";
}
.icon-polymer:before {
    content: "\e8ab";
}
.icon-portrait:before {
    content: "\e416";
}
.icon-power_settings_new:before {
    content: "\e8ac";
}
.icon-refresh:before {
    content: "\e5d5";
}
.icon-remove:before {
    content: "\e15b";
}
.icon-visibility:before {
    content: "\e8f4";
}
.icon-reply:before {
    content: "\e15e";
}
.icon-reply_all:before {
    content: "\e15f";
}
.icon-rss_feed:before {
    content: "\e0e5";
}
.icon-save:before {
    content: "\e161";
}
.icon-sd_storage:before {
    content: "\e1c2";
}
.icon-search:before {
    content: "\e8b6";
}
.icon-send:before {
    content: "\e163";
}
.icon-settings:before {
    content: "\e8b8";
}
.icon-share:before {
    content: "\e80d";
}
.icon-signal_wifi_4_bar_lock:before {
    content: "\e1d9";
}
.icon-signal_wifi_off:before {
    content: "\e1da";
}
.icon-sim_card:before {
    content: "\e32b";
}
.icon-sim_card_alert:before {
    content: "\e624";
}
.icon-star_border:before {
    content: "\e83a";
}
.icon-star_half:before {
    content: "\e839";
}
.icon-swap_vert:before {
    content: "\e8d5";
}
.icon-system_update_alt:before {
    content: "\e8d7";
}
.icon-tab:before {
    content: "\e8d8";
}
.icon-tablet_mac:before {
    content: "\e331";
}
.icon-thumb_down:before {
    content: "\e8db";
}
.icon-thumb_up:before {
    content: "\e8dc";
}
.icon-today:before {
    content: "\e8df";
}
.icon-tv:before {
    content: "\e333";
}
.icon-videocam:before {
    content: "\e04b";
}
.icon-videocam_off:before {
    content: "\e04c";
}
.icon-view_list:before {
    content: "\e8ef";
}
.icon-view_module:before {
    content: "\e8f0";
}
.icon-view_quilt:before {
    content: "\e8f1";
}
.icon-view_stream:before {
    content: "\e8f2";
}
.icon-visibility_off:before {
    content: "\e8f5";
}
.icon-vpn_lock:before {
    content: "\e62f";
}
.icon-watch:before {
    content: "\e334";
}
.icon-watch_later:before {
    content: "\e924";
}
.icon-wifi:before {
    content: "\e63e";
}
.icon-wifi_lock:before {
    content: "\e1e1";
}
.icon-zoom_out_map:before {
    content: "\e56b";
}

