.height {
	max-height: 300px;
	background-color: #d400aa !important;
}
.height h2 {
	color: #fff !important;
}
.height ul li {
	text-align: center;
	list-style: none;
	padding: 40px;
	padding-left: 100px !important;
	display: inline;
}

.height ul li img {
	height: 100px;
	width: 100px;
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.boxes{
	margin: 0px;
	width: 100%;
	height: 400px;
	position: relative;
	display: block;
	background-color: transparent;
	padding-bottom: 20px;
}
.boxes:nth-child(1), .boxes:nth-child(3) {
	background-color: #ededed;
	}
.float-left{
	float: left;
	}
.float-right {
	float: right;
	}
	
.product-cont-box{
	background-color: transparent;
	width: 49.99999%;
	height: 100%;
	border: 0px;
	position: relative;
}
.auto-height {
	height: auto;
	}
.product-cont-box h4 {
	text-align: center;
	font-weight: 300;
	padding: 16px;
	margin: 0px;
	margin-top: 24px;
	font-size: 2em;
}
.align-left {
	text-align: left;
	}
.align-right {
	text-align: right;
	}
.product-cont-box p {
	font-weight: 200;
	font-family: ubuntu;
	margin: auto;
	padding: 16px;
	word-wrap: break-word;
	}
.font-size133 {
	font-size: 1.33333em;
	}
.about-text-box p{
	font-size: 1.55555em !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	}
.product-cont-box img {
	height: 100%;
	overflow: hidden;
	}
